@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin marginRight {
  background-color: rgb(217, 161, 161);
  float: left;

  &:not(:last-child) {
    margin-right: $gutter-horizontal;
  }
}
